*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "FFKievit",Georgia,"Cambria","Times New Roman",Times,serif;
  font-weight: 400;
  line-height: 1;

  overflow-x: hidden;

  margin: 0;
  padding: 0;;
}

a {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}
