.interview {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  border: 1px dashed black;
}

.title {
  font-size: 36px;
  line-height: 1.11;

  text-align: center;

  @media (min-width: 1200px) {
    font-size: 56px;
    line-height: 1.14;
  }
}

.question {
  font-size: 24px;
  line-height: 1.3;

  margin-top: 15px;

  text-align: center;
}

.myAnswerField {
  display: block;

  width: 90%;
  height: 150px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.myAnswer {
  margin-top: 20px;
}

.answerChunk {
  margin-top: 21px;

  @media (min-width: 768px) {
    margin-top: 29px;
  }
}

.controls {
  display: flex;
  flex-direction: column;

  margin-top: 20px;

  @media (min-width: 576px) {
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
  }
}

.control {
  margin-top: 20px;
  padding: 10px;

  cursor: pointer;
  transition: 0.3s background-color;

  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;


  @media (min-width: 576px) {
    margin-top: 0;
    margin-right: 5px;
    padding: 5px 10px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    @media (min-width: 576px) {
      margin-right: 0;
    }
  }

  &:hover {
    background-color: rgba(142, 36, 170, 0.25);
  }
}

.spoiler {
  display: block;

  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
  padding: 5px 10px;

  cursor: pointer;
  transition: 0.3s background-color;
  text-align: left;

  border: 1px solid black;
  background-color: transparent;

  &:hover {
    background-color: rgba(142, 36, 170, 0.25);
  }

  &:active,
  &:focus {
    outline: 1px auto rgba(142, 36, 170, 0.9);
  }

  &__opened {
    background-color: rgba(142, 36, 170, 0.1);

    composes: spoiler;
  }

  &_arrow {
    display: inline-block;

    transition: 0.3s transform;
    transform: rotate(0);
    &__down {
      transform: rotate(90deg);

      composes: spoiler_arrow;
    }
  }
}
